.profile{
    background-color: red;
    height: 31em;
    width: 100%;
}

.image1{
    height: 15em;
    width: 14em;
    background-color: white;
    margin-left: 5em;
    
    
}

.description{
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  
    margin-left: 1.3em;
    }
.appointment{
    margin-top: -21em;
    margin-left: 28em;
}

.textSize{
    font-size: 1.7em;
    color: white;
}

.buttonPosition{
    margin-left: 25em;
}